$backgroundColor: #FAFAFA;

.outer {
  padding-top: 2.5rem;
  padding-left: 2.8rem;
  background-color: $backgroundColor;
  flex-grow: 1;
  .container {
    display: grid;
    box-shadow: none;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80vh;
    grid-gap: 1rem 1rem;
    padding-bottom: 4rem;
  }
  }
