$background-color: #fafafa;

//for responsive calculations
$fourthOfVW: calc(100vw / 4);
$baseFontToWidthRatio: 0.037;
$containerFontSize: calc($fourthOfVW * $baseFontToWidthRatio);
$emMultiplierForContainerWidth: 23;
$containerSize: $containerFontSize * $emMultiplierForContainerWidth;
$rightPadding: calc(($fourthOfVW - $containerSize) / 2);

.trackerLayout {
  flex-grow: 1;
  display: flex;
  // background-color: $background-color;
  .trackerLayout__content {
    flex-grow: 1;
    display: flex;
  }
  .trackerLayout__calender-container {
    font-size: $containerFontSize;
    //0.7*16 = 11.2px for 312px
    //w = 322px, font = 0.73rem
    // 322/312=1.03 0.73/0.7=1.04

    display: flex;
    background-color: $background-color;
    padding: 0 2rem;
    .trackerLayout__relative {
      // position: relative;
      .trackerLayout__fixed {
        // position: fixed;
        right: $rightPadding;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
    .trackerLayout__illustration {
      width: $containerSize;
    }
  }
}
